rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper function for user auth
    function isAuthenticated() {
      return request.auth != null;
    }

    // Allow application access to the collections
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
